<h1>あなたの情報</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<%= link_to 'プロフィール変更', edit_user_registration_path(@user), class: "btn btn-lg btn-primary"  %>
<%= link_to 'スケジュール投稿', events_path, class: "btn btn-lg btn-warning"  %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-danger" %>