<p id="notice"><%= notice %></p>
<p>

<h2>投稿者: <%= @event.user.name %></h2>

  <strong>タイトル:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>日にち:</strong>
  <%= @event.start_at.strftime("%Y年%m月%d日") %>〜
  <%= @event.end_at.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>状態:</strong>
  <%= @event.status %>
</p>
<% if @event.user_id == @current_user.id %>
<%= link_to 'Edit', edit_event_path(@event), remote: true, class: "btn btn-lg btn-primary" %>
<%= link_to 'Destroy', @event, method: :delete, data:{ confirm: '本当に削除して良いですか?',  cancel: 'やっぱやめた',  commit: '削除します'}, title: '削除確認' , class: "btn btn-lg btn-primary" %>
<% end %>

<%= link_to 'Back', events_path, class: "btn btn-lg btn-primary"  %>

<div id="event-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>