<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @event.start_at.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_at.strftime("%Y年%m月%d日") %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<td><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></td>|
<%= link_to 'Back', events_path %>