<div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class= "picture2">
  <%= form_with(model: [@event,@picture], local: true) do |form| %>
    <% if @picture.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(picture.errors.count, "つのエラー") %> 下記理由によりエラーが発生しました！:</h2>
  
        <ul class="ten-non">
        <% @picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% end %>
    
    <%= form_with(model: [@event,@picture], local: true) do |form| %>
      <div class="modal-header">
    <h5 class="modal-title">写真</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="field">
      <h2><%= form.label :写真の説明 %></h2>
      <%= form.text_field :image_content, id: :picture_content %>
      
    </div>
    <div class="field">
   
    <h2><%= form.label :写真 %></h2>
      <%= image_tag(@picture.image.url, :size =>'378x318') if @picture.image && @picture.image.url%><br>
  
      <%= form.file_field :image, id: :picture_image %>
      <%= form.hidden_field :image_cache %>
      
    </div>
  <br>
    <div class="actions">
      <%= form.submit %>
    </div>
    <br>
    </div>
  <% end %>


</div> 
</div>