
<body>
<div class="picture_show">
<header>
<br>

<%= link_to '一覧に戻る', event_path(@picture.event_id) , class: "btn btn-lg btn-primary" %>

</header>
<br>
<br>
<p><%= image_tag @picture.image.url, :size =>'378x318'%>
</p>
<h2>投稿者: 
<%= @picture.event.user.name %>

</h2>
<h2>内容: 
  <%= @picture.image_content %>
</h2>
 
  
  <div id="comments_area">
  <h2>コメント一覧</h2>
  
    <%= render partial: 'comments/index', locals: { comments: @comments, picture: @picture } %>
  </div>
  <div id="comments_area">

  <%= render partial: 'comments/form', locals: { comment: @comment, picture: @picture } %>
 
  </div>
  <h3 id="notice"><%= notice %></h3>
  </div>

</body>
